<html>
  <head>
    <title>Senha Incorreta</title>
    <script>
      confirm('Senha incorreta! Confira sua senha e tente novamente.')
      window.location.replace('/room/<%= roomId%>')
    </script>
  </head>
</html>
